body{
    /* height: auto; */
}

.main{
    background-color: transparent!important;
}

.flex{
    display : flex;
}

.flex-column{
    flex-direction : column;
}

.margin-auto{
    margin-left: auto;
    margin-right: auto;
}

.justify-center{
    justify-content: center;
}

.justify-between{
    justify-content : space-between;
}

.justify-right{
    justify-content : right;
}

.customer-info{
    border-bottom : 1px solid #8950FC;
    margin-bottom : 2rem!important;
}

.text-center{
    text-align: center;
}

.margin-left-0{
    margin-left: 0px!important;
}

.margin-right-0{
    margin-right: 0px!important;
}

.customer-info .row{
    margin-left : auto;
    margin-right : auto;
}

.customer-info-pvc{
    margin-top: 1rem;
}

.order-check{
    margin-left: 50px;
}

.order-submit-button{
    margin-bottom : 20px;
    margin-left : 86%
}

.order-cancel-btn{
    border : 1px solid #8950FC;
}

.customer-check{
    margin-top : 1.5rem;
    margin-bottom : 10px;
    border-bottom : 1px solid #EBEDF3;
}

.alert-custom-style{
    width : 45%;
    margin : 10px auto;
}

.notification-second-step{
    width : 60%;
    margin : 10px auto;
}

.header__widget a{
    font-size: 14px;
    font-family: "Aldrich", sans-serif;
    color: #b7b7b7;
    display: block;
    margin-bottom: 10px;
}

.header__widget a:hover{
    color: white;
    font-weight: 900;
    cursor : pointer;

}

.header{
    padding-top : 0px!important;
}

.header__menu{
    /* margin-top : 30px; */
}

.header-menu{
    margin-top: 30px;
}

.header-avatar{
    margin-top: -20px!important;
}

.header-username{
    margin-top: 10px;
}

.container-fluid{
    /* background-color : black; */
    padding-left : 130px;
    padding-right : 130px;
}

.header__logo a img{
    width : 50%;
}

.header__widget{
    margin-top : 30px;
}

.login100-form-cancel {
    font-family: Poppins-Medium;
    font-size: 16px;
    color: #555555;
    line-height: 1.2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 120px;
    height: 50px;
    border-radius: 25px;
    background: transparent;
    position: relative;
    z-index: 1;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.login100-form-cancel:hover {
    color : #555555;
    border : 2px solid white;
    color: white;
}

.third-step-table thead tr th{
    border: 1px solid black;
    text-align: center;
    vertical-align: middle!important;
    border-top: 1px solid black!important;
}

.third-step-header th{

}

.third-step-table tbody td{
    border: 1px solid black;
    padding: 0.25rem!important;
    vertical-align: middle;
    text-align: center;
}

.divide-col{
    width: 50px;
}

.table-input{
    width : 100%;
    padding: 5px;
}

.margin-top-50{
    margin-top : 50px;
}

.margin-top-80{
    margin-top : 80px;
}

/* .container{
    max-width: 90%!important;
} */

.table-body tr td{
    font-size: 20px;
}

.text-right{
    text-align: right;
}

.container-login100{
    z-index: 0!important;
}

.login100-form-logo{
    background-color: transparent;
}

.to-sign-up{
    margin-top: 10px;

}

.to-sign-up span{
    color : #555555;

}

.btn-add-more-order{
    margin-top: 30px;
    margin-bottom: 30px;
}

tbody::after{
    clear: both
}

.font-size-20{
    font-size: 20px;
}

.font-size-25{
    font-size: 25px;
}

.second-step{
    width : 50%;
}

.max-width-90{
    max-width: 90%;
}
